@model List<WorshopBase.ViewModels.PostViewModel>
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    th {
        background-color: grey;
        color: white;
        height: 50px;
        text-align: center;
    }

    table {
        width: 100%;
    }

    td {
        border: 1px solid black;
        text-align: center;
    }

    caption {
        text-align: center;
        font-size: x-large;
        color: black;
    }
</style>
<table style="margin:20px;">
    <caption>Заказы</caption>
    <tr>
        <th>Должность</th>
        <th>Описание</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.postName</td>
            <td>@item.descriptionPost</td>
        </tr>
    }
</table>

