@using Microsoft.AspNetCore.Identity
@using WorshopBase.Models
@using Microsoft.AspNetCore.Http

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "admin"))
    {
        <ul class="nav navbar-nav">
            <li><a asp-controller="Orders" asp-action="Index" class="text-left">Заказы</a></li>
            <li><a asp-controller="Breakdowns" asp-action="Index" class="text-left">Поломки </a></li>
            <li> <a asp-controller="Parts" asp-action="Index" class="text-left">Детали</a></li>
            <li><a asp-controller="Owners" asp-action="Index" class="text-left">Владельцы и автомобили</a></li>
            <li><a asp-controller="Posts" asp-action="Index" class="text-left">Сотрудники и должности</a></li>
            <li><a asp-controller="Users" asp-action="Index" class="text-left">Пользователи</a></li>
        </ul>
    }
    if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "user"))
    {
        <ul class="nav navbar-nav">
            <li><a asp-controller="Owners" asp-action="Index" class="text-left">Владельцы и автомобили</a></li>
            <li><a asp-controller="Orders" asp-action="Index" class="text-left">Заказы</a></li>
            <li> <a asp-controller="Parts" asp-action="Index" class="text-left">Детали</a></li>
        </ul>
    }
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Выйти</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></li>
    </ul>
}