@model WorshopBase.Models.Order
@{
    ViewData["Title"] = "Изменение заказа ";
}

<h2>Изменение заказа </h2>

<form asp-action="Edit">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="orderID" type="hidden" />

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="carID" class="control-label">Автомобиль</label>
            <div id="g">
                <select asp-for="carID" class="form-control">
                    @foreach (var item in ViewBag.cars)
                    {
                        <option value="@item.Value">@item.Key</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="dateReceipt" class="control-label">Дата поступления</label>
            <input type="date" asp-for="dateReceipt" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="dateCompletion" class="control-label">Дата выполнения</label>
            <input type="date" asp-for="dateCompletion" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="workerID" class="control-label">Сотрудник</label>
            <div id="g">
                <select asp-for="workerID" class="form-control">
                    @foreach (var item in ViewBag.workers)
                    {
                        <option value="@item.Value">@item.Key</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <input type="submit" value="Изменить" class="btn btn-default" />
        </div>
    </div>

</form>

<a asp-action="Index" style="float: right;">Назад</a>
