@model IEnumerable<WorshopBase.Models.User>

@{
    ViewBag.Title = "Список администраторами";
}

<h2>Управление администраторами</h2>

<table class="table table-hover table-bordered text-center" id="tblemps">
    <thead>
        <tr>
            <th style="text-align: center;">
                Email
            </th>
            <th style="text-align: center;">
                <a class="btn btn-primary" asp-action="CreateAdmin">Добавить администратора</a><br />

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td style="text-align: center;">
                    @user.Email
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                        <a class="btn btn-sm btn-default" asp-action="ChangePassword" asp-route-id="@user.Id">Сменить пароль</a>
                        <button type="submit" class="btn btn-sm btn-danger glyphicon glyphicon-trash"></button>
                    </form>
                </td>
            </tr>
        }
</table>

<a asp-action="Index" style="float: right;">Назад</a>