@model WorshopBase.ViewModels.CarsViewModels.CreateCarViewModel
@{
    ViewData["Title"] = "Добавить автомобиль ";
}

<h2>Добавить автомобиль </h2>

<form asp-action="CreateCar">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="ownerID" type="hidden" value="@ViewBag.ownerID" />

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="model" class="control-label">Марка</label>
            <input type="text" asp-for="model" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="vis" class="control-label">Мощность</label>
            <input asp-for="vis" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="colour" class="control-label">Цвет</label>
            <input type="text" asp-for="colour" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="stateNumber" class="control-label">Номер государственных прав</label>
            <input type="text" asp-for="stateNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="yearOfIssue" class="control-label">Год выпуска</label>
            <input asp-for="yearOfIssue" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="bodyNumber" class="control-label">Номер кузова</label>
            <input asp-for="bodyNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="engineNumber" class="control-label">Номер двигателя</label>
            <input asp-for="engineNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <input type="submit" value="Добавить" class="btn btn-default" />
        </div>
    </div>

</form>

