@model List<WorshopBase.ViewModels.OwnerViewModel>
@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    th {
        background-color: grey;
        color: white;
        height: 50px;
        text-align: center;
    }

    table {
        width: 100%;
    }

    td {
        border: 1px solid black;
        text-align: center;
    }

    caption {
        text-align: center;
        font-size: x-large;
        color: black;
    }
</style>
<table style="margin:20px;">
    <caption>Владельцы</caption>
    <tr>
        <th>Номер прав</th>
        <th>Фамилия</th>
        <th>Адрес</th>
        <th>Телефон</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.driverLicense</td>
            <td>@item.fioOwner</td>
            <td>@item.adress</td>
            <td>@item.phone</td>
        </tr>
    }
</table>

