
@{
    ViewBag.Title = "Home Page";
}

<style>
    h1 {
    text-align: center;
    }

    a.button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 30px 25px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; }
    
    a.button:hover {
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }
    
    a.button:active {
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}
</style>

<div class="jumbotron">
    <h1>Авторемонтная мастерская</h1>
    <div id="menu">      
            <a href="http://localhost:2472/Breakdowns" style="width:110px;height:40px" class="button grey">Поломки</a>
            <a href="http://localhost:2472/Cars" style="width:110px;height:40px" class="button grey">Автомобили</a>
            <a href="http://localhost:2472/Orders" style="width:110px;height:40px" class="button grey">Заказы</a>
            <a href="http://localhost:2472/Owners" style="width:110px;height:40px" class="button grey">Владельцы</a>
            <a href="http://localhost:2472/Parts" style="width:110px;height:40px" class="button grey">Детали</a>
            <a href="http://localhost:2472/Posts" style="width:110px;height:40px" class="button grey">Должности</a>
            <a href="http://localhost:2472/Workers" style="width:110px;height:40px" class="button grey">Работники</a>
    </div>
</div>

